# 1. Ocultar el listado de archivos en directorios
Options -Indexes

# 2. Definir codificación de caracteres por defecto
AddDefaultCharset UTF-8

# Páginas personalizadas de errores
ErrorDocument 403 /barberKadosh/app/views/errors/error.php?codigo=403
ErrorDocument 404 /barberKadosh/app/views/errors/error.php?codigo=404
ErrorDocument 429 /barberKadosh/app/views/errors/error.php?codigo=429
ErrorDocument 500 /barberKadosh/app/views/errors/error.php?codigo=500
ErrorDocument 502 /barberKadosh/app/views/errors/error.php?codigo=502
ErrorDocument 504 /barberKadosh/app/views/errors/error.php?codigo=504


# 3. Configuración de URLs Amigables
<IfModule mod_rewrite.c>
# Activar el motor de reescritura de URLS
RewriteEngine On

# Establecer la ruta base (modifica si tu proyecto está en una subcarpeta)
RewriteBase /barberKadosh/

# Regla de excepción 1: No redirigir si la petición corresponde a un archivo real
# (ej: assets/css/style.css)
RewriteCond %{REQUEST_FILENAME} !-f

# Regla de excepción 2: No redirigir si la petición corresponde a una carpeta real
RewriteCond %{REQUEST_FILENAME} !-d

# Reescribir cualquier ruta al archivo index.php pasando la dirección como parámetro "url"
# [QSA] = Mantiene parámetros GET adicionales (ej: ?orden=asc)
# [L] = Última regla a procesar si esta condición se cumple
RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule> 